// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images {
border: 1px solid #e5e5e5;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
padding: 5px;
background: white;
margin-right: 6px;
margin-top: -4px;
width: 98%;
position: relative;
right: 3px;
}
